@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@font-face {
    font-family: 'Nitti';
    src: url('../Nitti.otf') format('opentype');
    font-style: normal;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 60px;
}

h6 {
    font-family: 'Nitti', 'Menlo', sans-serif;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-family: 'Nitti', 'Menlo', sans-serif;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

b {
    font-family: 'Nitti', 'Menlo', sans-serif;
    font-size: 24px;
    color: #000;
    text-shadow: 1px 0 #000;
    letter-spacing: 1px;
    font-weight: bold;
}

b.heading1 {
    margin-left: -28px;
}

b.heading2 {
    margin-left: -43px;
}

ul {
    margin: 0;
    font-family: 'Nitti', 'Menlo', sans-serif;
    font-size: 24px;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: -5px;
}

ul.dashed>li:before {
    content: "- ";
    text-indent: -5px;
}

.description {
    opacity: 0.6;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    overflow-x: hidden
}

.vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 100%;
    height: 100%;
}

section .margins {
    margin-right: 250px;
    margin-left: 250px;
}

.onepage-wrapper .section {
    width: 100%;
    height: 100%;
}


/*INTRO SECTION*/

.intro {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: relative;
}

.title {
    z-index: 9;
    font-weight: 800;
    font-size: 55px;
}

.arrow {
    margin-left: 0px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 10;
}

a.svg {
    position: relative;
    display: inline-block;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

svg#rectangle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

svg#circle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

svg#line {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

svg#text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

@media (max-width: 640px) {
    .onepage-pagination {
        display: none;
    }
}

@media (max-width: 768px) {
    #rectangle, #circle, #line, #text {
        display: none;
    }
}


/*ABOUT ME*/

.about {
    position: relative;
}

h1.heading1 {
    font-weight: 800;
    margin-left: -50px;
    margin-top: 35px;
}

.body1 {
    margin-left: 65px;
    margin-top: -25px;
}

@media (max-width: 768px) {
    p {
        margin-right: -250px;
        margin-left: -250px;
        font-size: 12px;
    }
}


/*PROJECTS SECTION*/

.projects {
  margin-top: 250px;
}

.projects .margins {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

.col-md-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.grey-background {
  background-color: #ebebeb;
  padding-top: 18%;
  padding-bottom: 18%;
  border-radius: 5px;
}


/*BLOG SECTION*/

.blog {
    margin-top: -50px;
}


/*CONTACT SECTION*/

.media {
    text-align: center;
}

.media i.fa {
    font-size: 50px;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
}

i.fa.fa-linkedin:hover {
    color: #0e76a8;
}

i.fa.fa-github:hover {
    color: #4A4A4A;
}

i.fa.fa-envelope:hover {
    color: #F5CA23;
}

i.fa.fa-twitter:hover {
    color: #4099FF;
}

.copyright {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    bottom: 5px;
    /*position: absolute;*/
}
